h1 {
font-family: Balon;
font-size: 40px;
}

p {
font-family: Calibri;
font-size: 20px;
}

@font-face {
font-family: Balon;
src: url('balloon.ttf');
}

@font-face {
font-family: Calibri;
src: url('calibri.ttf');

}
